.carrot {
  animation: img 1s linear infinite;
}

@keyframes img {
  0% {
    width: 50px;
    height: 50px;
    margin: 8px auto;
    display: flex;
  }

  25% {
    width: 45px;
    height: 45px;
    margin: 8px auto;
    display: flex;
  }

  50% {
    width: 40px;
    height: 40px;
    margin: 8px auto;
    display: flex;
  }

  75% {
    width: 45px;
    height: 45px;
    margin: 8px auto;
    display: flex;
  }

  100% {
    width: 50px;
    height: 50px;
    margin: 8px auto;
    display: flex;
  }
}

.status {
  animation-name: statusGame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes statusGame {
  0% {
    color: #795548;
    text-shadow: 0 0 20px #aabae5;
  }

  25% {
    color: #aabae5;
    text-shadow: 2px 2px 2px cadetblue;
    transform: translate(-2px, 1px);
  }

  40% {
    color: #795548;
    text-shadow: none;
    transform: translate(0, 0);
  }

  50% {
    color: #aabae5;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px #0000008f;
    transform: translate(0px, 5px);
  }

  70% {
    color: #795548;
    text-shadow: none;
    transform: translate(0, 0);
  }

  80% {
    color: #795548;
    text-shadow: 0 0 20px #aabae5;
    transform: translate(-2px, 1px);
  }

  100% {
    color: #795548;
    text-shadow: none;
  }
}

.runningDuration {
  color: red;
  animation: duration 2.5s linear infinite;
}

@keyframes duration {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

.printDuration>img {
  animation: timer 4s linear infinite;
}

@keyframes timer {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}